@model List<AssignSubjectViewModel>

@{
    ViewBag.Title = "Users with Student Role";
}
<div class="text-center">
<h1>Student's List</h1>
</div>
@if (Model.Count > 0)
{
<table id="Table" class="table table-striped table-bordered">
    <thead>
        <tr>
           
            
            <th>FirstName</th>
            <th>LastName</th>
                <th>Grade</th>
                <th>Address</th>
            <th>Gender</th>
                
            
           
            
            <th width=300px>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>


                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>@student.Grade</td>
                    <td>@student.Address</td>
                    <td>@student.Gender</td>
                
               
                

                <td width=300px class="btn-group" role="gruop">
                    <div width=300px>
                        <a asp-action="DetailsStudent" asp-route-id="@student.UserId" class="btn btn-info" data-toggle="tooltip" title="Details">
                            <i class="bi bi-info-circle"></i>
                        </a>

                        <a asp-action="EditStudent" asp-route-id="@student.UserId" class="btn btn-warning" data-toggle="tooltip" title="Edit">
                            <i class="bi bi-pencil-square"></i>
                        </a>

                        <a asp-action="DeleteStudent" asp-route-id="@student.UserId" class="btn btn-danger" data-toggle="tooltip" title="Delate">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </div>
                </td>
            </tr>

           
        }
    </tbody>
</table>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center text-uppercase text-warning pt-4">No Records to Show</h2>
        </div>
    </div>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
<style type="text/css">
    #tbllist_filter {
        margin-bottom: 1%;
    }
</style>

<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#Table').DataTable({

        });
        LoadListing();
    });
</script>


                        <style>
                            .btn{
                                width:80px;
                                margin:auto;
                            }

                          
                        </style>